@{
	ViewData["Title"] = "Beğenilerim";
}

<div class="row mb-4">
	<div class="col">
		<h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
	</div>
</div>


<div class="row mb-4">
	<div class="col table-responsive">
		<table class="table table-hover table-striped table-sm small">
			<thead>
				<tr>
					<th>Kategori</th>
					<th>Başlık</th>
					<th class="text-center">Beğeni Adet</th>
					<th class="text-center">Yorum Adet</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < 10; i++)
				{
					<tr>
						<td>@NameData.GetCompanyName()</td>
						<td>@TextData.GetSentence()</td>
						<td class="text-center">@NumberData.GetNumber(1,100)</td>
						<td class="text-center">@NumberData.GetNumber(1,100)</td>
						<td class="text-center">
							<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modal_notecomments"><i class="fa fa-comments"></i></button>
							<button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_notedetail"><i class="fa fa-info-circle"></i></button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<div class="modal" id="modal_notecomments" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Yorumlar</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="media">
					<img src="https://picsum.photos/id/5/64/64" class="me-3" alt="...">
					<div class="media-body">
						<h5 class="mt-0">burak guzelisik</h5>
						<p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
						<div class="small text-end text-muted"><i class="fa fa-clock me-2"></i>20.04.2023</div>
					</div>
				</div>
				<div class="media">
					<img src="https://picsum.photos/id/5/64/64" class="me-3" alt="...">
					<div class="media-body">
						<h5 class="mt-0">burak guzelisik</h5>
						<p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
						<div class="small text-end text-muted"><i class="fa fa-clock me-2"></i>20.04.2023</div>
					</div>
				</div>
				<div class="media mt-4">
					<div class="media-body">
						<form method="post">
							<div class="input-group ">
								<textarea class="form-control" placeholder="yorumunuz" rows="2"></textarea>
								<button class="btn btn-primary " type="submit"><i class="fa fa-send"></i>Gönder</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>Kapat</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modal_notedetail" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Yazı İçeriği</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
				<p>
					<div class="text-muted small">
						<div class="text-end"><i class="fa fa-user me-2"></i>burak guzelisik</div>
						<div class="text-end"><i class="fa fa-clock me-2"></i>20.04.2023</div>
					</div>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>Kapat</button>
			</div>
		</div>
	</div>
</div>